---
http_interactions:
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: text=ruby+on+rails&per_page=12&method=flickr.photos.search&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="b3ea5401a75fffafe414f516da5f82ec",
        oauth_nonce="8ebBOIH0cbfxuh5Nlu1riybwEqUSQxNpYYF2Q0KxHH0%3D", oauth_signature="0cdafaa73329bedc%26",
        oauth_signature_method="PLAINTEXT", oauth_timestamp="1476696226", oauth_token="",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"photos":{"page":1,"pages":787,"perpage":12,"total":"9433","photo":[{"id":"30315348576","owner":"145840536@N03","secret":"ebb2ed47da","server":"5750","farm":6,"title":"Web
        Programmer Malaysia","ispublic":1,"isfriend":0,"isfamily":0},{"id":"30350103485","owner":"144236542@N04","secret":"65e3661348","server":"5732","farm":6,"title":"Web
        Programmer Malaysia","ispublic":1,"isfriend":0,"isfamily":0},{"id":"30017367630","owner":"145746436@N07","secret":"02840eafe2","server":"7501","farm":8,"title":"Pinned
        to Ruby on Rails Solutions on Pinterest","ispublic":1,"isfriend":0,"isfamily":0},{"id":"30122169292","owner":"145216859@N03","secret":"4d87510aa7","server":"7482","farm":8,"title":"Adam
        PSD","ispublic"[...]
